@import "~material-design-icons/iconfont/material-icons.css";
@import "tailwindcss/base";
@import "tailwindcss/components";

html {
  font-family: "Montserrat", sans-serif;
}

.stay-container {
  overflow: hidden;
}
.stay-container img {
  cursor: pointer;
  transition: transform 0.5s;
}
.stay-container:hover img {
  transform: scale(1.05) rotate(4deg);
}
@import "tailwindcss/utilities";
